@import "../stylus/common.styl";
@import "../stylus/variables.styl";

.cv-subjects__heading {
  color: capgemini-light-blue;
  font-size: small-header;
}

@media all and (max-width:1280px) {
  .cv-subjects {
    flex-grow: 3;
  }

  .cv-subjects__container {
    display: flex;
    flex-direction: column;
    max-height: 6rem;
    flex-wrap: wrap;
  }
}

@media all and (max-width:850px) {
  .cv-subjects {
    flex-grow: 1;
  }

  .cv-subjects__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 3000rem;
  }
}
