@import "variables.styl";

body {
  font: cv-font;
  padding: 2rem 2rem 2rem 6rem;
  margin: 0;
}

* {
    box-sizing: border-box;
}

@media all and (max-width:800px) {
  body {
    padding: 0.5rem .5rem .5rem .5rem;
  }
}

button[disabled] {
  background-color: #999;
  opacity: 0.5;
}
