cv-font-size = 16px
cv-font = cv-font-size 'Droid Serif', serif;

small-header = 18px
large-header = 28px


capgemini-dark-blue = #00488D;
capgemini-light-blue = #0098CC;

logo-height = 50px
description-padding-top = 50px
profile-max = 50rem
photo-width = 20rem
description-width = 40rem
keyInfo-width = 20rem

three-column-profile = profile-max + photo-width + keyInfo-width
