@import "../stylus/common.styl";
@import "../stylus/variables.styl";

text-width = 40rem;

.cv-projects__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cv-project {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.cv-project__period {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-weight: bold;
  min-width: 9rem;
  white-space: pre;
  padding-right: 5rem;
}

@media all and (max-width:900px) {
  .cv-project__period {
    padding-right: 1rem;
  }
}

.cv-project__company {
  font-weight: bold;
}

.cv-project__company-description {
  max-width: text-width;
}
.cv-project__description {
  max-width: text-width;
}

.cv-projects__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 20rem;

  p {
    margin-top: .25rem;
    margin-bottom: .25rem;
  }
}

.cv-projects__heading {
  color: capgemini-light-blue;
  font-size: small-header;
}

