@import "../stylus/common.styl";
@import "../stylus/variables.styl";

text-width = 40rem;

.cv-projects {
  //order: 4;
  padding-top: logo-height;
}

.cv-projects__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cv-project {
  background-color: blanchedalmond;
  border-radius: 4px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  max-width: 50rem;
}

@media all and (max-width:700px) {
  .cv-project {
    flex-direction: column;
  }

  .cv-project__content {
    //order: 1;
  }

  .cv-project__period {
    //order: 2;
  }
}

.cv-project--size {
  height: 2rem;
}

@media all and (max-width:700px) {
  .cv-project--size {
    height: 4rem;
  }
}

.cv-project__period {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  font-weight: bold;
  min-width: 9rem;
  white-space: pre;
  padding: .2rem 5rem 0 .2rem;
}

@media all and (max-width:900px) {
  .cv-project__period {
    padding-right: 1rem;
  }
}

.cv-project__to,
.cv-project__from {
  color: capgemini-dark-blue;
}

.cv-project__company {
  color: capgemini-dark-blue;
  font-weight: bold;
}

.cv-project__company-description {
  max-width: text-width;
}
.cv-project__description {
  max-width: text-width;
}

.cv-project__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 0.2rem;
  width: 30rem;

  p {
    margin-top: .25rem;
    margin-bottom: .25rem;
  }
}

.cv-project__sub-content {
  overflow: hidden;
}

@media all and (min-width:700px) {
  .cv-project__sub-content {
    transition: max-height .4s ease-out;
    max-height: 600px; // Used as an end-point for the transition
    // by .cv-project--hide
    // From http://css3.bradshawenterprises.com/animating_height/
  }
}

.cv-project--hide {
  max-height: 0;
}

.cv-projects__heading {
  color: capgemini-light-blue;
  font-size: small-header;
}

.cv-project__tools {
  max-width: 35rem;
}

