@import "../stylus/common.styl";
@import "../stylus/variables.styl";

.cv-keyInfo {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  order: 4;
}

@media all and (max-width:1200px) {
  .cv-keyInfo {
    flex-direction: row;
    min-width: 100%;
  }
}
