@import "../stylus/common.styl";
@import "../stylus/variables.styl";

.profile {
  color: black;
  padding-top: 2rem;
}

.consultant-heading {
  color: capgemini-light-blue;
  font-family: 'Arial', sans-serif;
  font-size: small-header;
  text-transform: uppercase;
}

.consultant-name {
  color: capgemini-dark-blue;
  font-size: large-header;
}
