@import "../stylus/common.styl";
@import "../stylus/variables.styl";

.cv-profile {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 60rem;
  max-width: 50rem;
  min-width: 500px;
  padding-right: 1rem;
}

@media all and (max-width:1200px) {
  .cv-profile {
    flex-wrap: nowrap;
    max-height: 100rem;
  }
}
