@import "../stylus/common.styl";
@import "../stylus/variables.styl";

.cv-profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media all and (max-width:three-column-profile) {
  .cv-profile {
    color: green;
  }
}


@media all and (max-width:1280px) {
  .cv-profile {
    color: green;
  }
}

