@import "../stylus/common.styl";
@import "../stylus/variables.styl";



.languages-heading {
  color: capgemini-light-blue;
  font-size: small-header;
}

@media all and (max-width:1200px) {
  .languages {
    flex-grow: 1;
  }
}
