@import "../stylus/common.styl";
@import "../stylus/variables.styl";

.cv-photo {
  order: 4;
  width: photo-width;
  z-index: 200;
}


@media all and (max-width:1280px) {
  .cv-photo {
    align-self: center;
    order: 1;
  }
}

.cv-photo__image {
  height: 100%;
  width: 100%;
}

