@import "../stylus/common.styl";

.cv-photo {
  order: 4;
  width: 300px;
}

@media all and (max-width:1200px) {
  .cv-photo {
  align-self: center;
    order: 1;
  }
}

.cv-photo__image {
  height: 100%;
  width: 100%;
}

