@import "../stylus/common.styl";

.picture {
  order: 4;
  width: 300px;
}

.photo {
  height: 100%;
  width: 100%;
}

@media all and (max-width:1200px) {
  .picture {
  align-self: center;
    order: 1;
  }
}
