    /*
    Flaticon icon font: Flaticon
    Creation date: 19/02/2016 14:53
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-aperture:before { content: "\f100"; }
.flaticon-aperture-1:before { content: "\f101"; }
.flaticon-auto-flash:before { content: "\f102"; }
.flaticon-blitz-flash:before { content: "\f103"; }
.flaticon-brightness-option:before { content: "\f104"; }
.flaticon-camera-big-screen-size:before { content: "\f105"; }
.flaticon-camera-screen:before { content: "\f106"; }
.flaticon-camera-screen-1:before { content: "\f107"; }
.flaticon-camera-small-screen-size:before { content: "\f108"; }
.flaticon-camera-stand:before { content: "\f109"; }
.flaticon-camera-timer:before { content: "\f10a"; }
.flaticon-clapperboard:before { content: "\f10b"; }
.flaticon-compact-camera:before { content: "\f10c"; }
.flaticon-digital-camera:before { content: "\f10d"; }
.flaticon-eye:before { content: "\f10e"; }
.flaticon-film-roll:before { content: "\f10f"; }
.flaticon-film-roll-1:before { content: "\f110"; }
.flaticon-film-strip:before { content: "\f111"; }
.flaticon-flash:before { content: "\f112"; }
.flaticon-flash-off:before { content: "\f113"; }
.flaticon-flip-camera:before { content: "\f114"; }
.flaticon-focus:before { content: "\f115"; }
.flaticon-focus-1:before { content: "\f116"; }
.flaticon-landscape:before { content: "\f117"; }
.flaticon-landscape-photo:before { content: "\f118"; }
.flaticon-macro:before { content: "\f119"; }
.flaticon-memory-card:before { content: "\f11a"; }
.flaticon-minute-countdown:before { content: "\f11b"; }
.flaticon-objective:before { content: "\f11c"; }
.flaticon-objective-1:before { content: "\f11d"; }
.flaticon-old-camera:before { content: "\f11e"; }
.flaticon-old-camera-1:before { content: "\f11f"; }
.flaticon-old-video-camera:before { content: "\f120"; }
.flaticon-panorama-with-right-arrow:before { content: "\f121"; }
.flaticon-photo-camera:before { content: "\f122"; }
.flaticon-photo-camera-1:before { content: "\f123"; }
.flaticon-photo-camera-with-flash:before { content: "\f124"; }
.flaticon-photograph:before { content: "\f125"; }
.flaticon-portrait:before { content: "\f126"; }
.flaticon-quarter:before { content: "\f127"; }
.flaticon-reflector:before { content: "\f128"; }
.flaticon-scenic:before { content: "\f129"; }
.flaticon-screen-grid:before { content: "\f12a"; }
.flaticon-shake-camera:before { content: "\f12b"; }
.flaticon-three-quarters:before { content: "\f12c"; }
.flaticon-usb-cable:before { content: "\f12d"; }
.flaticon-video-camera:before { content: "\f12e"; }
.flaticon-video-camera-1:before { content: "\f12f"; }
.flaticon-video-file-list:before { content: "\f130"; }
.flaticon-webcam:before { content: "\f131"; }
    
    $font-Flaticon-aperture: "\f100";
    $font-Flaticon-aperture-1: "\f101";
    $font-Flaticon-auto-flash: "\f102";
    $font-Flaticon-blitz-flash: "\f103";
    $font-Flaticon-brightness-option: "\f104";
    $font-Flaticon-camera-big-screen-size: "\f105";
    $font-Flaticon-camera-screen: "\f106";
    $font-Flaticon-camera-screen-1: "\f107";
    $font-Flaticon-camera-small-screen-size: "\f108";
    $font-Flaticon-camera-stand: "\f109";
    $font-Flaticon-camera-timer: "\f10a";
    $font-Flaticon-clapperboard: "\f10b";
    $font-Flaticon-compact-camera: "\f10c";
    $font-Flaticon-digital-camera: "\f10d";
    $font-Flaticon-eye: "\f10e";
    $font-Flaticon-film-roll: "\f10f";
    $font-Flaticon-film-roll-1: "\f110";
    $font-Flaticon-film-strip: "\f111";
    $font-Flaticon-flash: "\f112";
    $font-Flaticon-flash-off: "\f113";
    $font-Flaticon-flip-camera: "\f114";
    $font-Flaticon-focus: "\f115";
    $font-Flaticon-focus-1: "\f116";
    $font-Flaticon-landscape: "\f117";
    $font-Flaticon-landscape-photo: "\f118";
    $font-Flaticon-macro: "\f119";
    $font-Flaticon-memory-card: "\f11a";
    $font-Flaticon-minute-countdown: "\f11b";
    $font-Flaticon-objective: "\f11c";
    $font-Flaticon-objective-1: "\f11d";
    $font-Flaticon-old-camera: "\f11e";
    $font-Flaticon-old-camera-1: "\f11f";
    $font-Flaticon-old-video-camera: "\f120";
    $font-Flaticon-panorama-with-right-arrow: "\f121";
    $font-Flaticon-photo-camera: "\f122";
    $font-Flaticon-photo-camera-1: "\f123";
    $font-Flaticon-photo-camera-with-flash: "\f124";
    $font-Flaticon-photograph: "\f125";
    $font-Flaticon-portrait: "\f126";
    $font-Flaticon-quarter: "\f127";
    $font-Flaticon-reflector: "\f128";
    $font-Flaticon-scenic: "\f129";
    $font-Flaticon-screen-grid: "\f12a";
    $font-Flaticon-shake-camera: "\f12b";
    $font-Flaticon-three-quarters: "\f12c";
    $font-Flaticon-usb-cable: "\f12d";
    $font-Flaticon-video-camera: "\f12e";
    $font-Flaticon-video-camera-1: "\f12f";
    $font-Flaticon-video-file-list: "\f130";
    $font-Flaticon-webcam: "\f131";