.personStyle {
    border: 1px solid lightseagreen;
    display: grid;
    grid-template-columns : repeat(10, 10vw);
    grid-template-rows: repeat(5, 20%);
    grid-template-areas: 'photo photo photo . . . . . . .'
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    justify-items: stretch;
    align-items: stretch;

}


.myPhoto {
    border: 1px dashed #99D3FF;
    grid-area: photo;
}

.about {
    border: 1px dashed indianred;
    grid-area: 4 / 6 / 4 / 6;
}
