
cv-font-size = calc(16px + 0.25vw)
cv-font = cv-font-size 'Droid Serif', serif;

small-header = 1em
small-kapitol-header = .8em
large-header = 2em

description-width = 40em
keyInfo-width = 20em

logo-height = 50px
profile-max = 50rem
photo-width = 20rem
three-column-profile = profile-max + photo-width + keyInfo-width

capgemini-dark-blue = #00488D;
capgemini-light-blue = #0098CC;


